{% extends "base.html" %}

{% block content %}
<br><br><br>
    {% if validlink %}
        <p>Porfavor introduzca su nueva contraseña.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>No se ha podido restablecer la contraseña</h1>
        <p>El link de reseteo de contraseña es invalido. Porfavor vuelva a pedir un nuevo link.</p>
    {% endif %}

{% endblock %}