{% extends "base.html" %}

{% block content %}
<br><br><br>
    <h1>Album de {{ user }}</h1>
   
            {% for foto in object.publications.all%}
            <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><img src="/media/{{ foto.subir }}"></svg>

                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            
            {% endfor %}

{% endblock %}


