{% extends "base.html" %}

{% block content %}
<br><br><br>
    <h2>Publicaciones</h2>
    <ul>
        {% for post in object_list %}

                       <div class="col">
                      <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="0" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><img src="/media/{{ post.subir }}"></svg>

                        <div class="card-body">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="{% url 'Post-detalles' post.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                              {% if user.perfil == user %}
                              <a href="{% url 'post-update' post.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Editar</button></a>
                              <a href="{% url 'post-delete' post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button></a>
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        {% endfor %}
    </ul>
    <!--
    {% if user.is_authenticated %}
        <li><a href="{% url 'Post-create' %}">Añadir</a></li>
    {% endif %}-->
{% endblock %}







